# Ignore specific files
secret.txt
#debug.log

# Ignore all `.log` files
*.log
*.py
*.cpp

# Ignore directories
#/node_modules/
/notPart/*.py
/notPart/*.php

# Ignore all `.env` files
*.env

# Ignore specific file in a subfolder
#subfolder/config.json
